.modify-modal{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background: rgb(135, 122, 155);
  border-radius: 10px;
  outline: none;
  color: white;
  input{
    outline: none;
    border:none;
    border-radius: 5px;
    padding:5px;
    font-size: 16px;
  }
  .top-wrapper{
    display: flex; 
    justify-content: space-between;

    padding:30px 30px 0 30px;
    .title-wrapper{
      height: 70px;
      .input-title{
        display: flex;
        align-items: center;
        margin-top: 10px;
        .ok-btn{
          display: flex;
          justify-content: center;
          align-items: center;
          width:50px;
          height: 34px;
          margin-left: 10px;
          background: #696b8c;
          border-radius: 12px;
          color:white;
          font-weight: bold;
        }
      }
      .title-data{
        font-size: 40px;
        font-weight: bold;
      }
    }
    .close-btn{
      margin-top: 5px;
      font-size: 30px;
      padding-bottom: 6px;
      cursor: pointer;
    }
  }
  .detail-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
    margin-top: 10px;
    .detail-content {

      .content-wrapper {
        display: flex;
        flex-direction: column;
        height: 80px;
        font-size: 30px;
        margin-bottom: 10px;
        .input-content{
          display: flex;
          align-items: center;
          .ok-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width:50px;
            height: 34px;
            margin-left: 10px;
            background: #696b8c;
            border-radius: 12px;
            color:white;
            font-weight: bold;
            font-size: 16px;
          }
        }

        .content-name{
          margin-bottom: 16px;
          font-size: 24px;
          font-weight: bold;
        }
        .content-data{
          font-size: 18px;
        }
      }
      .worker-wrapper {
        display: flex;
        flex-direction: column;
        height: 90px;
        font-size: 30px;
        margin-bottom: 10px;
        .input-worker{
          display: flex;
          align-items: center;
          .ok-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width:50px;
            height: 34px;
            margin-left: 10px;
            background: #696b8c;
            border-radius: 12px;
            color:white;
            font-weight: bold;
            font-size: 16px;
          }
        }
        .worker-name {
          margin-bottom: 16px;
          font-size: 24px;
          font-weight: bold;
        }
        .worker-data{
          font-size: 18px;

        }
      }
    }
    .btn-action {
      font-size: 20px;

      .modify-title-btn {
        margin-top: 20px;
        cursor: pointer;
      }
      .modify-content-btn {
        margin-top: 20px;
        cursor: pointer;
      }
      .modify-worker-btn {
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
  .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    .move-to-btn {
      display: flex;
      cursor: pointer;

      select{
        padding:10px;
        outline: none;
        border:none;
        font-size: 20px;
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 10px;
        color:white;
        background-color: #696b8c;
      }
      .move-to-okay-btn{
        display: flex;
        align-items: center;
        margin-left: 5px;
        font-size: 20px;
      }
    }
  }
}
.modify-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(72, 66, 66, 0.5);
  z-index: 1;
}