.modify-modal{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background: rgb(135, 122, 155);
  border-radius: 10px;
  outline: none;
  color: white;
  .top-wrapper{
    display: flex; 
    flex-display: row;
    justify-content: space-between;
    align-items: center;
    .title-wrapper{
      margin: 30px 0px 0px 30px;
      font-size: 45px;
      .input-title{

      }
      .title-data{

      }
    }
    .close-btn{
      margin-right: 30px;
      font-size: 40px;
      cursor: pointer;
    }
  }
  .detail-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    .detail-content {

      .content-wrapper {
        display: flex;
        font-size: 30px;
        margin-left: 30px;
        padding: 20px;
        .input-content {
          margin-left: 10px;
        }
        .content-data {
          margin-left: 10px;

        }
      }
      .worker-wrapper {
        display: flex;
        font-size: 30px;
        margin-left: 30px;
        padding: 20px;
        .input-worker {
          margin-left: 10px;
        }
        .worker-data {
          margin-left: 10px;
        }
      }
    }
    .btn-action {
      font-size: 20px;
      padding: 40px;
      .move-to-btn {
        cursor: pointer;
      }
      .modify-title-btn {
        margin-top: 20px;
        cursor: pointer;
      }
      .modify-content-btn {
        margin-top: 20px;
        cursor: pointer;
      }
      .modify-worker-btn {
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
}
.modify-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(72, 66, 66, 0.5);
  z-index: 1;
}