.insert-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background: rgb(135, 122, 155);
  border-radius: 10px;
  outline: none;
  color: white;
  .title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .input-form {
      .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        .input {
          width: 200px;
          height: 40px;
        }
        .row-wrapper{
          margin-bottom: 12px;
          .row-title{
            font-size: 20px;
            margin-bottom: 2px;
          }
          input{
            border-radius: 5px;
            padding:5px;
            font-size: 16px;
            outline:none;
            border:none;
          }
        }
      }
      .button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        .btn{
          display: flex;
          justify-content: center;
          align-items: center;
          width:90px;
          height: 30px;
          border:3px solid white;
          font-size: 20px;
          font-weight: bold;
          border-radius: 10px;
          cursor: pointer;
          &.ok{
            color:#8d5fb7;
            background: white;
          }
        }
      }
    }
  }
}

.insert-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(72, 66, 66, 0.5);
  z-index: 1;
}