.insert-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background: rgb(135, 122, 155);
  border-radius: 10px;
  outline: none;
  color: white;
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .input-form {
      .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        .input {
          width: 200px;
          height: 40px;
        }
      }
      .button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.insert-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(72, 66, 66, 0.5);
  z-index: 1;
}