#TaskItems{
  padding: 20px 10px 20px 10px;
  width:350px;
  .card-wrapper{
    color: white;
    background-color: #7d6c9f;
    display: flex;
    flex-direction: column;
    border: 1px solid #8d5fb7;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000000;
    .row-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      .item-title {
        font-size: 20px;
        margin: 2px 0px 0px 7px;
      }
      .content {
        font-size: 15px;
      }
      .btn-wrapper {
        display: flex;
        align-items: center;
        .modify-btn{
          padding: 5px;
          cursor: pointer;

        }
        .delete-btn{
          cursor: pointer;
          padding: 5px;
      
        }
      }
    }
  }
}